.portrait {
    width: clamp(35%, 40%, 95%);
    margin: 3% auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: var(--primary);
    border-radius: 15px;
    border: 3px solid var(--accent-color);
    // box-shadow: var(--box-shadow);
    transition: all .3s;

    @media screen and (max-width: 1300px) {
        width: 60%;
    }

    @media screen and (max-width: 968px) {
        width: 75%;
    }

    @media screen and (max-width: 768px) {
        width: 85%;
    }

    @media screen and (max-width: 480px) {
        width: 89%;
    }

    @media screen and (max-width: 380px) {
        width: 87%;
    }

    .headerTitle {
        background: linear-gradient(to bottom right, #6E40F3, var(--text-color), var(--primary), var(--text-color), #6E40F3);
        border-radius: 14px 14px 0 0;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .imgPortrait {
            width: 35%;
            border-radius: 50vh;
            border: 4px solid var(--accent-color);
            margin-block: 20px;
            align-self: flex-start;
            margin-left: 10%;
        }

        a {
            margin-right: 10%;
            border-radius: 10px;
            cursor: pointer;

            button {
                cursor: pointer;
                background-color: var(--accent-color);
                padding: 1rem;
                color: var(--primary);
                font-family: var(--font-family);
                border: 2px solid var(--primary);
                border-radius: 15px;
                transition: .3s all;
                font-weight: 600;
                font-size: 18px;

                &:hover {
                    background-color: var(--primary);
                    color: var(--accent-color);
                    transform: scale(1.1);
                    border: 2px solid var(--accent-color);
                }

                @media screen and (max-width: 480px) {
                    padding: 0.5rem;
                    font-size: 15px;
                }
            }
        }
    }


    .title {
        color: var(--primary);
        font-size: 2rem;
        background-color: var(--accent-color);
        border-radius: 0 0 5px 5px;
        padding-block: 5px;
        width: 100%;
        text-align: center;
        margin-bottom: 10px;
        display: flex;
        align-items: center;
        justify-content: space-evenly;

        h1 {
            @media screen and (max-width: 768px) {
                font-size: 23px;
            }

            @media screen and (max-width: 480px) {
                font-size: 20px;
            }
        }

        .subtitle {
            font-weight: 300;
            font-style: italic;
            font-size: 1rem;

            @media screen and (max-width: 768px) {
                font-size: 0.9rem;
            }
        }
    }

    .description {
        text-align: center;
        width: 75%;
        margin: 0 auto;
        font-style: italic;
        font-weight: 200;

        @media screen and (max-width: 480px) {
            width: 90%;
        }

    }

    .skills {
        display: flex;
        justify-content: space-evenly;
        // align-items: center;
        width: 100%;
        padding: 5%;

        @media screen and (max-width: 768px) {
            flex-wrap: wrap;
        }

        .type {
            width: 40%;

            @media screen and (max-width: 768px) {
                width: 75%;
            }

            .typeTitle {
                text-align: center;
            }

            .logo {
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                justify-content: space-around;
                align-items: center;
                padding: 10px;
                width: 100;

                .containerLogo {
                    display: flex;
                    flex-direction: column;
                    align-items: center;

                    i {
                        font-size: 2rem;
                    }

                    p {
                        font-style: 200;
                    }
                }


            }

        }
    }
}