.navMobile {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: var(--primary);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0.95;
    transition: all .3s ease-in-out;

    nav {
        ul {
            li {
                display: flex;
                justify-content: center;
                margin-bottom: 20px;

                a {
                    text-transform: uppercase;
                    font-size: 28px;
                    cursor: pointer;
                    color: var(--accent-color);

                }
            }
        }
    }
}