.containerTitle {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-block: 25px;

    .title {
        font-size: 3rem;
        font-weight: normal;

        @media screen and (max-width: 769px) {
            font-size: 2rem;
        }
    }
}