.active {
    opacity: 0.6;
}

.line {
    background: linear-gradient(to left, var(--primary), var(--text-color) 25%, var(--text-color) 75%, var(--primary));
    width: 100%;
    height: 2px;
    margin: 0.8em auto;
}

.form-error {
    text-align: center;
    font-weight: 600;
    font-size: 18px;
    color: rgb(225, 99, 99);
}