:root {
    --primary: #153243;
    --text-color: #fff;
    --accent-color: #38aecc;
    --box-shadow: 0 12px 25px 0 rgba(255, 255, 255, 0.25);
    --box-shadow-invert: inset 0 -12px 15px 0 rgba(255, 255, 255, 0.25);
    --font-family: "Poppins", sans-serif;
}